.settingsPage_layout {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}

.mainColor {
  background-color: lightskyblue;
  border: 1px solid black;
}

.backbutton_usernamebox {
  display: flex;
  margin: 10px;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.button_layout {
  display: grid;
  grid-template-rows: auto auto 1fr; /* Allocate space for three rows */
  transition: background-color 0.3s ease;
  height: 90%; /* Ensure the container takes full height */
}

.button_layout_one {
  outline: 1px solid black;
  transition: background-color 0.3s ease;
}

.button_layout_two {
  outline: 1px solid black;
  transition: background-color 0.3s ease;
}

.button_layout_three {
  transition: background-color 0.3s ease;
}

.button_shape {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  width: 100%;
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.button_layout_one:hover {
  background-color: #6495ed;
}

.button_layout_two:hover {
  background-color: #6495ed;
}

.button_layout_three:hover {
  background-color: #6495ed;
}

.font_style {
  margin: inherit;
  font-size: 25px;
}

.sectionColor {
  background-color: lightblue;
  z-index: 1;
}

.user_credentials {
  text-align: center;
  margin-top: 1.5%;
}

.button_edit {
  border-radius: 50px;
  background: darkorange;
  transition: transform 0.3s ease;
}

.button_edit:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.btntext_format {
  transform: translate(10px, 6px);
}

.fonticon_format {
  margin-right: 3.5px;
}

.chat_list_box {
  justify-content: flex-start;
  width: 100%;
  display: flex;
  outline: 1px solid black;
}

.logout_button_box {
  margin-top: auto;
  outline: none;
}

.logout_button {
  border-radius: 50px;
  margin-left: 5%;
  margin-bottom: 5%;
  background: darkorange;
  transition: transform 0.3s ease;
}

.logout_button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.logout_text {
  margin-bottom: 0;
}

.backbutton {
  transition: transform 0.3s ease;
}

.backbutton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.themeSelection {
  width: "10vh";
  height: "10vh";
  background-color: lightskyblue;
  outline: 1px solid black;
  z-index: 1;
  position: absolute;
  transform: translate(0px, 9.5vh);
}

.fontSelection {
  width: "15vh";
  height: "15vh";
  background-color: lightskyblue;
  outline: 1px solid black;
  z-index: 1;
  position: absolute;
  transform: translate(0px, 15vh);
}

.mainThemeLayout {
  border-bottom: 1px solid #000000;
}

.themetwolayout {
  border-bottom: 1px solid #000000;
}
