.settingsPage_layout {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}

.backbutton_usernamebox {
  display: flex;
  margin: 10px;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.button_layout {
  display: grid;
  transition: background-color 0.3s ease;
}

.button_layout_one {
  outline: 1px solid black;
  transition: background-color 0.3s ease;
}

.button_layout_two {
  outline: 1px solid black;
  transition: background-color 0.3s ease;
}

.button_layout_three {
  transition: background-color 0.3s ease;
}

.button_shape {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  width: 100%;
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.button_layout_one:hover {
  background-color: #6495ed;
}

.button_layout_two:hover {
  background-color: #6495ed;
}

.button_layout_three:hover {
  background-color: #6495ed;
}

.font_style {
  margin: inherit;
  font-size: 25px;
}

.user_credentials {
  text-align: center;
  margin-top: 1.5%;
}

.button_edit {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.btntext_format {
  transform: translate(10px, 6px);
}

.fonticon_format {
  margin-right: 3.5px;
}
