.settingsPage_layout {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}

.backbutton_usernamebox {
  display: flex;
  margin: 10px;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.button_layout {
  margin-left: 10px;
  grid-row-gap: 15px;
  display: grid;
}

.button_shape {
  width: 25%;
  padding: 0;
  margin: 0;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.button_shape:hover {
  transform: scale(1.1);
}

.btntext_format {
  margin: inherit;
}
