@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.profile_and_group_box {
  display: flex;
  flex-wrap: wrap;
}

.profile_box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  outline: 1px solid black;
  width: 25%;
}

.group_box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  outline: 1px solid black;
  width: 75%;
}

.group_chat_list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  outline: 1px solid black;
  width: 25%;
}

.profile_box_image {
  width: 20px;
  height: auto;
}

.profile_box_text {
  position: relative;
  top: 8px;
}
