@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.profile_and_group_box {
  display: grid;
  grid-template-columns: 25% 75%;
}

.group_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: 1px solid black;
  height: 5%;
}

.group_chat_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: 1px solid black;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  background-color: lightskyblue;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.search-icon {
  position: absolute;
  left: 10px;
  pointer-events: none;
  width: 20px;
  height: auto; /* Makes the icon non-interactive */
}

.search-container input[type="text"] {
  padding-left: 30px; /* Adjust padding to make room for the icon */
  width: 100%;
}

.chat_list_box {
  justify-content: flex-start;
  width: 100%;
  display: flex;
  outline: 1px solid black;
}

.username_box {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 65% 20%;
  outline: 1px solid black;
  align-items: center;
}

.settings_button {
  width: 25%;
  margin-left: 50%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  justify-self: center;
}

.input-box {
  border-radius: 50px;
  outline: 3px solid black;
}

.profile_box_image_mainUser {
  width: 20px;
  height: auto;
  margin-right: 5%;
  margin-left: 5%;
  justify-self: center;
}

.profile_box_image {
  width: 20px;
  height: auto;
  margin-right: 5%;
  margin-left: 5%;
}

.profile_box_text {
  position: relative;
  top: 8px;
}

.text_box {
  position: relative;
}

.input_chat_box {
  display: flex;
  flex-direction: column;
}

.chat_box {
  height: 92%;
}

.input_message_box {
  border-radius: 50px;
  width: calc(100% - 50px - 10px);
  margin-left: 5px;
  padding: 10px;
}

.input_message_button {
  width: 5%;
  height: 100%;
  color: blue;
  border-radius: 50px;
  width: 50px;
  margin-left: 2px;
}

.logout_button {
  border-radius: 50px;
  margin-left: 5%;
  margin-bottom: 5%;
  background: darkorange;
}

.logout_button_box {
  margin-top: auto;
  outline: none;
}

.logout_text {
  margin-bottom: 0;
}
