@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.profile_and_group_box {
  display: flex;
  flex-wrap: wrap;
}

.profile_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: 1px solid black;
  width: 35%;
}

.group_box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: 1px solid black;
  width: 65%;
  height: 50%;
}

.group_chat_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  outline: 1px solid black;
  width: 35%;
  flex-wrap: wrap;
}

.chat_list_box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  outline: 1px solid black;
}

.profile_box_image {
  width: 20px;
  height: auto;
}

.profile_box_text {
  position: relative;
  top: 8px;
}
