@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.appTitle {
  display: flex;
  position: absolute;
  left: 20px;
  top: 10px;
}

.pageWrapper {
  animation: slideRight 1s forwards;
  display: flex;
  height: 100vh;
}

.form {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  background: white url("../Images/doodle_page.jpg") no-repeat center center;
  background-size: cover;
  width: 50%;
}

.loginBtns {
  margin-bottom: 10px;
  width: 50%;
}

.signupForm {
  background: lightblue url("../Images/doodle_page_2.jpg") no-repeat center
    center;
  background-size: cover;
  width: 50%;
}

.signupBtns {
  margin-bottom: 10px;
  width: 50%;
}
